PORT=8080
SESSION_SECRET=change_this_secret
DB_PATH=./db/usuarios.db
SESSIONS_DIR=./db

NODE_ENV=production
DB_PATH=/data/usuarios.db
SESSIONS_DIR=/data

# Opción B: Weather Underground
WU_API_KEY=bbaca6cd82b24eaeaca6cd82b20eae92
WU_STATION_ID=IALFAR32
